# Папки
__pycache__/
*.egg-info/
dist/
build/

# Файлы
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3

# Среды
.env
.venv/
venv/
env/

# IDE
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Системные файлы
.DS_Store
Thumbs.db


